:root {
  --fuenteHeading: 'Inter', sans-serif;


  --primario: #0A3871;
  --blanco: #ffffff;
  --negro: #000000;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 2;
  font-family: var(--fuenteHeading);
  background-color: #F3F5FC;
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);


  background-repeat: no-repeat;

}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  height: 50rem;
  width: auto;
}

@media screen and (max-width:768px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


  }

  .texto {
    margin-top: 15rem;
    height: auto;
    
  }




}


.aviso {
  color: var(--primario);
  font-size: 1.5rem;
  text-align: left;


}

.logo {
  margin-top: 5rem;
  margin-left: 0;
  font-size: 1rem;

}



.muñeco {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border-radius: 2rem;
  height: 20rem;

}

h1 {
  background-image: url('path/to/image.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  animation: pulse 1s infinite;
}

h1:hover {
  transform: rotateY(180deg);
  
}
textarea {
  text-transform: lowercase;
  width: 100%;
  height: 100%;
  background-color: var(--fuenteHeading);
  resize: none;
  border: none;
  overflow-y: scroll;
  color: var(--primario);
}



textarea::placeholder {
  font-weight: 700;
  color: var(--primario);
  font-size: 2rem;
  line-height: 1.5;
  text-align: center;
}

textarea:focus {
  border: none;
  outline: none;

}


.boton {
  background-color: var(--primario);
  color: var(--blanco);
  font-size: 2rem;
  line-height: 1.5;
  border-radius: 1rem;
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  width: 30rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
  margin-right: 0rem;
  text-align: center;
  text-decoration: none;
}

.boton:hover {
  background-color: var(--blanco);
  color: var(--primario);
  border: 2px solid var(--primario);
  transition: all 0.3s ease-in-out;
}

.botones-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 0rem;
  margin-right: 0rem;
  gap: 2rem;
}


@media (max-width: 768px) {
  .botones-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .btn-copiar {
    background-color: var(--primario);
    color: var(--blanco);
    font-size: 2rem;
    line-height: 1.5;
    border-radius: 1rem;
    border: none;
    margin-top: 10rem;
 

  }
}


.texto {

  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;

}




.encriptado {
  position: relative;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: end;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 2rem;
  height: 70rem;
  width: 40rem;
}

.encriptado p {
  font-size: 2rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top: 2rem;
  max-width: 100%;
  overflow-wrap: break-word;
}

.encriptado span {

  font-size: 2rem;
  line-height: 1.5;
  font-weight: 700;
  color: var(--primario);


}

@media (max-width: 768px) {


  .encriptado {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 15rem;
    border-radius: 3rem;
    width: 100%;
    padding: 1rem;
    border-radius: 2rem;
    padding: 2rem;
  }



  .encriptado p {
    font-size: 1.5rem;
    position: relative; /* make the p element a positioned element */
    z-index: 1; /* give the p element a higher z-index than the button */
    margin-top:5rem

  }

  .encriptado span {
    font-size: 1.5rem;
    line-height: 1.2;
  }

  .encriptado textarea {
    font-size: 1.5rem;
    height: 50rem;

  }

  .encriptado textarea::placeholder {
    font-size: 1.5rem;
  }

  .muñeco {
    display: none;
  }

}

.btn-copiar {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--primario);

  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  z-index: 1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-copiar:hover {
  background-color: #ffffff;
  color: var(--primario);
}

.normal {
  margin-top: 10rem;
  font-weight: 700;
  color: var(--primario);
  border-radius: 2rem;
  background-color: rgba(245, 245, 245, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-left: 1rem;
  margin-right: 1rem;


}

.footer {
  background-color: var(--primario);
  color: var(--blanco);
  text-align: center;
  padding: 1rem;
  margin-top: 5rem;
  font-size: 1.5rem;
  font-weight: 700;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 10rem;
}

.footer a {

  color: var(--blanco);
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5rem;
}

/* Estilos para el modal */
.modal {

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--blanco);
  color: var(--n);
  padding: 1rem;
  padding-left: 5rem;
  padding-right: rem;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.modal.active {
  opacity: 1;
  pointer-events: auto;
}